<a href="https://colab.research.google.com/github/KenzaxTazi/Agri-Risk/blob/master/Model_exploration_Raghul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install tqdm==4.42.1

Requirement already satisfied: tqdm==4.42.1 in /usr/local/lib/python3.6/dist-packages (4.42.1)

In [2]:
!pip install requests
!pip install tabulate
!pip install "colorama>=0.3.8"
!pip install future

!pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o

Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (2.21.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests) (3.0.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (0.8.6)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/c9/dc/45cdef1b4d119eb96316b3117e6d5708a08029992b2fee2c143c7a0a5cc5/colorama-0.4.3-py2.py3-none-any.whl
Installing collected packages: colorama
Successfully installed colorama-0.4.3
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (0.16.0)
Looking in links: http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html
WARNING: The repository located at h2o-release.s3.amazonaws.com is not a trusted or secure host and is being ignored. If this repository is available via HTTPS we recommend you use HTTPS instead, otherwise you may silence this warning and allow it anyway with '--trusted-host h2o-release.s3.amazonaws.com'.
Collecting h2o
  Downloading https://files.pythonhosted.org/packages/ef/f5/23c0d33d0b4880cbb09327ba8bc0072d366bc80eada9122bd6758ef1d365/h2o-3.28.0.3.tar.gz (126.2MB)
     |████████████████████████████████| 126.2MB 78kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from h2o) (2.21.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from h2o) (0.8.6)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: colorama>=0.3.8 in /usr/local/lib/python3.6/dist-packages (from h2o) (0.4.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.28.0.3-py2.py3-none-any.whl size=126303006 sha256=ac57133de6f9189347a878da649946a4214afa84321bcd062d9d36808ceab891
  Stored in directory: /root/.cache/pip/wheels/fa/7c/ce/95ae52b4d3f1b14a27c3c961c1f94635aee841ab1eec3aeeca
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.28.0.3

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import xarray as xr
import numpy as np

In [0]:
import os, sys

path = '/content/drive/My Drive/Team Plants/data'
os.chdir(path)

# Import full dataset #

Here, we import the below dataset

In [0]:
dataset = pd.read_csv("head_of_soils_recommendations_MGM.csv")

In [0]:
dataset

        Unnamed: 0  Unnamed: 0.1  ...  soil_types  climate_zones
0                0             0  ...          40              9
1                1             3  ...          40              9
2                2             8  ...          40              6
3                3             9  ...          40              6
4                4            10  ...          40              9
...            ...           ...  ...         ...            ...
427053      427053        832697  ...          76           -997
427054      427054        832720  ...          76           -997
427055      427055        832721  ...          76           -997
427056      427056        832722  ...          76           -997
427057      427057        832723  ...          76           -997

[427058 rows x 176 columns]

In [0]:
data = dataset.copy()

## Data processing ##

We now use Ed's script to process the data somewhat. Here we exclude the 10 day features.

In [9]:
# Create a custom data set adding in the features you want. It reads an already computed 
# dataset but you can then remove features to see the effect on score.
from sklearn.model_selection import train_test_split
import pandas as pd
from tqdm import tqdm
tqdm.pandas()
import xarray as xr
import matplotlib.pyplot as plt
import numpy as np
import random

random_seed = 42
#random.seed(a=random_seed)
#np.random_seed(random_seed)

read_file_path = f"head_of_soils_recommendations_MGM.csv"

# Only read a sample fraction of the data, speeds things up, but you'll get worse performance.
# Use 1.0 as the sample fraction to get the full data set
sample_fraction = 0.9
data = pd.read_csv(read_file_path, skiprows=lambda i: i>0 and random.random() > sample_fraction)

limit_change_in_yield = True
limit = 0.5

include_coordinates = True
include_2005_maize = True
include_seasonal = True
include_ten_day = False
include_2005_climate = True
include_soil_type = True
include_growing_zones = True
include_climate_zones = True

# Remove datapoints where yield changes by more than 50%. This is unlikely to be
# due to changes in climate change.

if limit_change_in_yield:
    data = data[abs(data['maize_a_2010'] - data['maize_a_2005']) / data['maize_a_2005'] < limit]

# Choose a subset of your features! (must already exist in original file)
ten_day_features = [
    'BEDD',
    'R20mm',
    'DTR'
]

seasonal_features = [
    'CDD',
    'CFD',
    'CWD',
    'WW',
    'WSDI',
    'CSDI'
]

features = []

if include_growing_zones:
    growing_zones = [
        'Inland water bodies',
        'Subtropics - summer rainfall',
        'Subtropics - winter rainfall',
        'Temperature - continental',
        'Temperature - oceanic',
        'Temperature - subcontinental',
        'Tropics'
    ]
    
    
if include_soil_type:
    features = features + ['soil_types']

        
if include_climate_zones:
    features = features + ['climate_zones']

if include_2005_climate:
    years = ['2010', '2005']
else:
    years = ['2010']

if include_seasonal:
    seasons = ['Q1', 'Q2', 'Q3', 'Q4']
    years = ['2010', '2005']
    for feature in seasonal_features:
        for season in seasons:
            for year in years:
                features.append(f'{feature}-{season}-{year}')

if include_ten_day:
    days = ['05', '15', '25']
    years = ['2010', '2005']
    months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
    for feature in ten_day_features:
        for day in days:
            for month in months:
                for year in years:
                    features.append(f'{feature}-{month}-{day}-{year}')

if include_coordinates:
    coordinates = [
        'x',
        'y'
    ]
    features = features + coordinates
    
if include_2005_maize:
    features = features + ['maize_a_2005']

target = 'maize_a_2010'
data = data.dropna()

X = data[features]
X.drop('x', axis=1, inplace=True) #drop x but keep y so we can tell something about the hemispheres and seasons


y = data[[target]]
train_set_x, test_set_x, train_set_y, test_set_y = train_test_split(X, y, test_size=0.2, random_state=random_seed)
del X
del y
del data

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
# drop features we don't want

#dataset = dataset.drop(['x','y','iso3_2005','Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1', 'Unnamed: 0.1.1.1', 'Unnamed: 0.1.1.1.1', 'delta_maiz', 'maiz_percent_change'], axis=1)

In [0]:
train_set_x

        soil_types  climate_zones  ...          y  maize_a_2005
56592           40              1  ...  24.208333         943.0
223807          91           -997  ... -28.291667        1740.2
188591          25              1  ... -10.291667        3817.2
176435           7              1  ...   3.541667        1922.8
64412            4              1  ...  22.208333        2309.0
...            ...            ...  ...        ...           ...
149615          95              5  ...  39.291667        5771.2
332256          40              1  ... -17.375000        1010.5
164359          84              1  ...  19.375000        4132.8
184249          50              1  ...  -7.208333         875.7
151894          74         -32768  ...  38.625000       13761.5

[243618 rows x 52 columns]

In [0]:
#dataset.dropna(inplace=True)

### Create train test split ###

In [0]:
#from sklearn.model_selection import train_test_split

#train_set, test_set = train_test_split(dataset, test_size=0.2, random_state=42)

#train_set_x = train_set.drop("maiz_a_2010",axis=1)
#train_set_y = train_set["maiz_a_2010"]

#test_set_x = test_set.drop("maiz_a_2010",axis=1)
#test_set_y = test_set["maiz_a_2010"]

### One-hot encode categorical features ###

In [0]:
categorical_variables = ["climate_zones",
                         "soil_types"
                       
                         ]

In [0]:
categories=[]

for i in categorical_variables:
  a = list(dataset[i].unique())
  categories.append(a)

In [0]:
df_num = train_set_x.copy()

for i in categorical_variables:
  df_num.drop(i, axis=1, inplace=True)

Below pipeline didn't work one time for the onehotencoding so it's been commented out and replaced.

In [0]:
# from sklearn.base import BaseEstimator, TransformerMixin

# class DataFrameSelector(BaseEstimator, TransformerMixin):
#   def __init__(self,attribute_names):
#     self.attribute_names = attribute_names
#   def fit(self, X, y=None):
#     return self
#   def transform(self, X):
#     return X[self.attribute_names].values

# from sklearn.pipeline import Pipeline, FeatureUnion
# from sklearn.preprocessing import OneHotEncoder

# num_attributes = list(df_num)
# cat_attribs = categorical_variables

# num_pipeline = Pipeline([
#                          ('selector', DataFrameSelector(num_attributes)),
# ])

# cat_pipeline = Pipeline([
#                          ('selector', DataFrameSelector(cat_attribs)),
#                          ('one_hot_encoder', OneHotEncoder(categories = categories)),
                         
# ])

# full_pipeline = FeatureUnion(transformer_list=[
#                   ("num_pipeline",num_pipeline),
#                   ("cat_pipeline", cat_pipeline)
# ])

In [0]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([
                        ("selector", OneHotEncoder(), [0,1])], 
                        remainder = 'passthrough')

#0 and 1 refer to the categorical column names - these need to be changed so they are selected automatically and not manually as done here

In [0]:
train_set_x_prepared = ct.fit_transform(train_set_x)

In [0]:
train_set_x_prepared.shape

(243624, 154)

In [0]:
test_set_x_prepared = ct.transform(test_set_x)

In [0]:
pd.DataFrame(train_set_x_prepared)

        0    1    2    3    4    5    ...  148  149  150  151        152      153
0       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  24.208333   3941.3
1       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0 -28.458333   5159.6
2       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  44.375000  10113.1
3       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  -0.625000   2111.6
4       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  22.125000   1788.7
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...        ...      ...
243619  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  39.208333  11711.3
243620  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  6.0 -17.541667   1373.9
243621  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  19.375000   1809.0
243622  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  -7.291667   1596.8
243623  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  38.625000   6314.4

[243624 rows x 154 columns]

### Rough feature engineering ###

1. Exclude features with low variance

In [0]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold=0.2)
train_set_x_reduced = selector.fit_transform(train_set_x_prepared)
test_set_x_reduced = selector.transform(test_set_x_prepared)

In [0]:
train_set_x_reduced.shape

(243695, 51)

In [0]:
selector.get_support() #these are the features which are kept ... need to work out which ones they are

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

2. Or/and train a simple extra trees model and select most important features

In [0]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import SelectFromModel

simple_model = ExtraTreesRegressor(n_jobs=-1, verbose=1, n_estimators=10)
simple_model = simple_model.fit(train_set_x_prepared, train_set_y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:  1.2min finished

In [0]:
simple_model.score(train_set_x_prepared, train_set_y) # we are able to fit to the training set at least

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    1.2s finished

0.99981701893788

In [0]:
simple_model.score(test_set_x_prepared, test_set_y)

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    0.3s finished

0.9668285578750894

The below selects features based on feature importance but only gives 4 features when selecting based on mean, so I've not done it here.

In [0]:
# selector = SelectFromModel(simple_model, prefit=True)
# train_set_x_reduced = selector.transform(train_set_x_prepared)
# test_set_x_reduced = selector.transform(test_set_x_prepared)

#### Feature engineering without one-hot encoding ####

In [0]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold=0.2)
train_set_x_reduced_2 = selector.fit_transform(train_set_x)
test_set_x_reduced_2 = selector.transform(test_set_x)

In [0]:
train_set_x_reduced_2.shape

(243618, 52)

This doesn't decrease number of features. 52 is actually fine. So I don't keep the transformed features as it messes up with the indices.. (I'm sure I can sort it out but not for now)

# Model exploration #

## Which models can at least fit the training data? ##

### Random Forests ###

For this example we can run without doing the feature selection above.

In [0]:
from sklearn.ensemble import RandomForestRegressor

rnd_reg = RandomForestRegressor(n_estimators=15, n_jobs=-1)
rnd_reg.fit(train_set_x_prepared,train_set_y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=15, n_jobs=-1, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

Can we overfit to the training set? Does the model have enough sophisitication to overfit to the trainin set...

In [0]:
rnd_reg.score(train_set_x_prepared,train_set_y)

0.9945966246464768

In [0]:
rnd_reg.score(test_set_x_prepared,test_set_y)

0.9686268838624702

It could overfit if I train with enough max leaf nodes.

#### H2o implementation ####

In [0]:
import h2o
h2o.init(nthreads = -1, max_mem_size = 12)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.6" 2020-01-14; OpenJDK Runtime Environment (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1); OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpyn0lo2_y
  JVM stdout: /tmp/tmpyn0lo2_y/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpyn0lo2_y/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Etc/UTC
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.3
H2O cluster version age:    24 days
H2O cluster name:           H2O_from_python_unknownUser_1feeo2
H2O cluster total nodes:    1
H2O cluster free memory:    12 Gb
H2O cluster total cores:    2
H2O cluster allowed cores:  2
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

In [0]:
train = pd.DataFrame(train_set_x).join(train_set_y)
train = h2o.H2OFrame(train)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [0]:
test = pd.DataFrame(test_set_x).join(test_set_y)
test = h2o.H2OFrame(test)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [0]:

x = train.col_names[:-1]    
y = train.col_names[-1]

In [0]:
from h2o.estimators.random_forest import H2ORandomForestEstimator
rf_fit1 = H2ORandomForestEstimator(model_id='rf_fit1', seed=1, categorical_encoding='enum', max_depth=200)
rf_fit1.train(x=x, y=y, training_frame=train, validation_frame=test)

drf Model Build progress: |███████████████████████████████████████████████| 100%

In [0]:
rf_fit1.r2()

0.972332218086161

In [0]:
rf_fit1.r2(valid=True)

0.9736595078639356

In [0]:
test = pd.DataFrame(test_set_x).join(test_set_y)
test = h2o.H2OFrame(test)

rf_fit1.model_performance(test_data=test)

Parse progress: |█████████████████████████████████████████████████████████| 100%

ModelMetricsRegression: drf
** Reported on test data. **

MSE: 309762.0713281609
RMSE: 556.5627290145836
MAE: 312.822390934289
RMSLE: 0.14385844917400437
Mean Residual Deviance: 309762.0713281609

### Extra trees ###

In [0]:
from sklearn.ensemble import ExtraTreesRegressor

extra_trees = ExtraTreesRegressor(n_jobs=-1, verbose=1, n_estimators=10)
extra_trees = extra_trees.fit(train_set_x_prepared, train_set_y)

extra_trees.score(train_set_x_prepared,train_set_y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:  1.3min finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    1.1s finished

0.9997909847775208

In [0]:
extra_trees.score(test_set_x_prepared,test_set_y)

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    0.3s finished

0.9675384416331634

We can fit to the training set at least.

### Extreme Boosting ###

In [0]:
!pip3 install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.17.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)

In [0]:
import xgboost as xgb

In [0]:
xgbmodel = xgb.XGBRegressor(n_jobs=-1, verboxity=2, random_state=42, n_estimators=100, objective="reg:squarederror", max_depth=20,)

In [0]:
xgbmodel.fit(train_set_x_prepared,train_set_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=20, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=-1, nthread=None, objective='reg:squarederror',
             random_state=42, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1, verboxity=2)

In [0]:
from sklearn.metrics import r2_score

In [0]:
r2_score(train_set_y, xgbmodel.predict(train_set_x_prepared))

0.9975928970862603

In [0]:
train_set_y

        maize_a_2010
140076        5778.3
233620        7638.7
321377        1568.3
125005        5132.8
157050        2242.6
...              ...
149710        2614.2
332415         618.8
164446         953.7
184376        1051.1
151963        5716.6

[243590 rows x 1 columns]

## Hyperparameter tuning: search of parameter space ##

In [0]:
from sklearn.model_selection import RandomizedSearchCV

In [0]:
from scipy.stats import randint as sp_randint
from scipy.stats import uniform

### Random Forest (h2o) ###

In [0]:
#create small version of train set#

train_set_x_sample = train_set_x.sample(n=100, random_state=42)

In [0]:
train_set_y_sample = train_set_y.sample(n=100, random_state=42)

In [206]:
import h2o
h2o.init(nthreads = -1, max_mem_size = 12)

train = pd.DataFrame(train_set_x_sample).join(train_set_y_sample)
train = h2o.H2OFrame(train)

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.6" 2020-01-14; OpenJDK Runtime Environment (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1); OpenJDK 64-Bit Server VM (build 11.0.6+10-post-Ubuntu-1ubuntu118.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.6/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpbzxrxu86
  JVM stdout: /tmp/tmpbzxrxu86/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpbzxrxu86/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       Etc/UTC
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.0.3
H2O cluster version age:    25 days
H2O cluster name:           H2O_from_python_unknownUser_ysulr2
H2O cluster total nodes:    1
H2O cluster free memory:    12 Gb
H2O cluster total cores:    2
H2O cluster allowed cores:  2
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.9 final
--------------------------  ------------------------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [0]:
x = train.col_names[:-1]    
y = train.col_names[-1]

In [0]:
from h2o.grid.grid_search import H2OGridSearch

In [0]:
#hyperparameters
rf_parameters = {'max_depth': [200, 1000, 2000],
                'ntrees': [10, 20, 30],
                 'min_rows': [1, 100, 1000]}

rf_parameters2 = {'max_depth': list(np.random.randint(200,5000,10)),
                'ntrees': list(np.random.randint(10,20,10)),
                 }

# Search criteria

In [0]:
from h2o.estimators.random_forest import H2ORandomForestEstimator

rf_h2o = H2ORandomForestEstimator(model_id='rf_h2o', seed=1, categorical_encoding='enum', nfolds=4, keep_cross_validation_models=True)

In [0]:
rf_h2o_grid = H2OGridSearch(model=rf_h2o,
                          grid_id='rf_h2o_grid',
                          hyper_params=rf_parameters2,
                         search_criteria = {'strategy': 'RandomDiscrete', 'max_models': 20}

                          )

In [215]:
rf_h2o_grid.train(x=x, y=y, training_frame=train)

drf Grid Build progress: |████████████████████████████████████████████████| 100%

In [216]:
rf_h2o_grid.show()

     max_depth ntrees             model_ids  residual_deviance
0         3928     10  rf_h2o_grid_model_15  4391705.047062643
1         4063     10  rf_h2o_grid_model_27  4391705.047062643
2         2690     10  rf_h2o_grid_model_28  4391705.047062643
3         2242     10  rf_h2o_grid_model_35  4391705.047062643
4         3106     10  rf_h2o_grid_model_39  4391705.047062643
5         3004     10   rf_h2o_grid_model_8  4391705.047062643
6         3106     19  rf_h2o_grid_model_12  4453786.879002184
7         2830     19  rf_h2o_grid_model_18  4453786.879002184
8         3004     19   rf_h2o_grid_model_2  4453786.879002184
9         4063     19  rf_h2o_grid_model_23  4453786.879002184
10         845     18  rf_h2o_grid_model_20  4567539.050942978
11        2690     18  rf_h2o_grid_model_29  4567539.050942978
12        2830     18  rf_h2o_grid_model_36  4567539.050942978
13        3106     18  rf_h2o_grid_model_38  4567539.050942978
14        2472     18   rf_h2o_grid_model_5  4567539.050942978
15        2242     17  rf_h2o_grid_model_10  4727517.330886522
16         845     17  rf_h2o_grid_model_13  4727517.330886522
17        2690     16   rf_h2o_grid_model_1  4778015.856323735
18        3106     16  rf_h2o_grid_model_19  4778015.856323735
19         200     16  rf_h2o_grid_model_26  4778015.856323735
20        3928     16   rf_h2o_grid_model_4  4778015.856323735
21        2242     16   rf_h2o_grid_model_6  4778015.856323735
22        2472     16   rf_h2o_grid_model_9  4778015.856323735
23        3928     14  rf_h2o_grid_model_14  4930958.065497372
24        2830     14  rf_h2o_grid_model_16  4930958.065497372
25        2472     14  rf_h2o_grid_model_24  4930958.065497372
26        3004     14   rf_h2o_grid_model_3  4930958.065497372
27        2242     15  rf_h2o_grid_model_11  5063314.672922898
28        2830     15  rf_h2o_grid_model_37  5063314.672922898
29        4063     15   rf_h2o_grid_model_7  5063314.672922898

In [0]:
gbm_gridperf2 = rf_h2o_grid.get_grid(sort_by='r2', decreasing=True)

In [200]:
gbm_gridperf2.get_grid()

     max_depth ntrees             model_ids                  r2
0         3851     11  rf_h2o_grid_model_21   0.699807056511188
1         1610     11  rf_h2o_grid_model_22   0.699807056511188
2         2345     11  rf_h2o_grid_model_25   0.699807056511188
3         1301     11  rf_h2o_grid_model_29   0.699807056511188
4         1648     10   rf_h2o_grid_model_3  0.6845093334022347
5         1986     10   rf_h2o_grid_model_4  0.6845093334022347
6         1610     19  rf_h2o_grid_model_16  0.6800495078146043
7         1301     19  rf_h2o_grid_model_18  0.6800495078146043
8         2464     19  rf_h2o_grid_model_23  0.6800495078146043
9         4940     19  rf_h2o_grid_model_26  0.6800495078146043
10        4163     19  rf_h2o_grid_model_30  0.6800495078146043
11        2464     18  rf_h2o_grid_model_19   0.671877795878588
12        2345     18  rf_h2o_grid_model_24   0.671877795878588
13        3586     18  rf_h2o_grid_model_27   0.671877795878588
14        1986     13   rf_h2o_grid_model_1  0.6555022448080319
15        4771     13  rf_h2o_grid_model_10  0.6555022448080319
16         716     13  rf_h2o_grid_model_11  0.6555022448080319
17         961     13  rf_h2o_grid_model_12  0.6555022448080319
18        3955     13  rf_h2o_grid_model_14  0.6555022448080319
19        1648     13   rf_h2o_grid_model_2  0.6555022448080319
20        2345     13  rf_h2o_grid_model_20  0.6555022448080319
21        4940     13  rf_h2o_grid_model_33  0.6555022448080319
22        2852     13   rf_h2o_grid_model_8  0.6555022448080319
23        4771     14  rf_h2o_grid_model_13   0.645770553719246
24        3955     14   rf_h2o_grid_model_5   0.645770553719246
25         961     14   rf_h2o_grid_model_6   0.645770553719246
26        2852     14   rf_h2o_grid_model_7   0.645770553719246
27         716     14   rf_h2o_grid_model_9   0.645770553719246
28        4882     15  rf_h2o_grid_model_15  0.6362623390605163
29        2345     15  rf_h2o_grid_model_31  0.6362623390605163

In [152]:
len(gbm_gridperf2.models)

12

In [0]:
rf_h2o.train(x=x, y=y, training_frame=train)

drf Model Build progress: |███████████████████████████████████████████████| 100%

In [0]:
#rf_h2o.cross_validation_models()

In [224]:
h2o.shutdown()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Deprecated, use ``h2o.cluster().shutdown()``.
  """Entry point for launching an IPython kernel.

H2O session _sid_b0ca closed.

#### sklearn ####

In [0]:
parameter_grid = {

  'n_estimators': sp_randint(8,40),
  'max_depth':  sp_randint(800,10000),
  'min_samples_split': uniform(0.0001,0.8)

}

In [0]:
from sklearn.ensemble import RandomForestRegressor

rnd_search = RandomForestRegressor()

random_search_rf = RandomizedSearchCV(rnd_search, parameter_grid, cv=5, n_jobs=-1, random_state=42, verbose=10)

In [230]:
random_search_rf.fit(train_set_x_prepared,train_set_y)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    2.4s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    3.0s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:   26.2s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed: 12.0min
[Parallel(n_jobs=-1)]: Done  37 tasks      | elapsed: 15.9min
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed: 17.7min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed: 18.7min finished
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0740710128>,
                                        'min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f07410e3908>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0740c436a0>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=10)

In [0]:
#random_search_rf.cv_results_

In [0]:
result = pd.concat([pd.DataFrame(random_search_rf.cv_results_["params"]),pd.DataFrame(random_search_rf.cv_results_["mean_test_score"], columns=["Score"])],axis=1)

In [0]:
result.sort_values(by="Score", ascending=False, inplace=True)

In [239]:
result

#clearly we need a smaller min_samples_split

   max_depth  min_samples_split  n_estimators     Score
5       7749           0.000723            35  0.952434
4       9122           0.016568             9  0.912773
2       7065           0.124896            18  0.869070
9       2847           0.233816            23  0.736472
7       7196           0.345656            24  0.722565
1       5991           0.479027            14  0.658738
6       7220           0.494085            33  0.658445
8       9466           0.489582            17  0.657863
3       6378           0.693041            11 -0.000022
0       8070           0.637334            22 -0.000023

In [0]:
parameter_grid = {

  'n_estimators': sp_randint(8,40),
  'max_depth':  sp_randint(800,10000),
  'min_samples_split': uniform(0,0.017)

}

from sklearn.ensemble import RandomForestRegressor

rnd_search = RandomForestRegressor()

random_search_rf2 = RandomizedSearchCV(rnd_search, parameter_grid, cv=5, n_jobs=-1, random_state=42, verbose=10)

In [0]:
random_search_rf2.fit(train_set_x_prepared,train_set_y)

result2 = pd.concat([pd.DataFrame(random_search_rf2.cv_results_["params"]),pd.DataFrame(random_search_rf2.cv_results_["mean_test_score"], columns=["Score"])],axis=1)
result2.sort_values(by="Score", ascending=False, inplace=True)

print(result2)

### Extra Trees ###

In [0]:
parameter_grid = {

  'n_estimators': sp_randint(1,50),
  'max_depth':  sp_randint(1,40),
  'min_samples_split': uniform(0.01,0.199)

}

In [0]:
from sklearn.ensemble import ExtraTreesRegressor

extra_trees_search = ExtraTreesRegressor()

In [0]:
random_search = RandomizedSearchCV(extra_trees_search, parameter_grid, cv=5, n_jobs=-1, random_state=42)

In [0]:
random_search.fit(train_set_x_prepared,train_set_y)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0,
                                                 criterion='mse',
                                                 max_depth=None,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 max_samples=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100, n_jobs=None,
                                                 oob_score=False...
                   param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ff3c8462fd0>,
                                        'min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ff3c6863630>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7ff3c858a128>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [0]:
random_search.cv_results_

{'mean_fit_time': array([ 72.47455616, 205.2609889 ,  70.10993247, 229.11446571,
         10.60546746, 180.70490422,  43.5544241 , 138.95962658,
        243.65751877,  62.53788862]),
 'mean_score_time': array([0.13923707, 0.3873415 , 0.17662063, 0.42622657, 0.05305338,
        0.2810226 , 0.09270654, 0.21287332, 0.28956146, 0.09422545]),
 'mean_test_score': array([0.86505246, 0.87791248, 0.90934645, 0.89583211, 0.84559105,
        0.86720167, 0.60017713, 0.89855338, 0.89839234, 0.85528205]),
 'param_max_depth': masked_array(data=[39, 8, 19, 24, 24, 24, 2, 33, 25, 28],
              mask=[False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[0.16851205438518635, 0.12913303835521028,
                    0.029895008247782573, 0.07640801361666534,
                    0.13952680611682175, 0.17565608551928394,
                    0.04618316847421303, 0.07054420634894801,
                    0.06795459889941034, 0.2037773482494504],
              mask=[False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[15, 39, 11, 40, 2, 38, 21, 22, 42, 15],
              mask=[False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 39,
   'min_samples_split': 0.16851205438518635,
   'n_estimators': 15},
  {'max_depth': 8,
   'min_samples_split': 0.12913303835521028,
   'n_estimators': 39},
  {'max_depth': 19,
   'min_samples_split': 0.029895008247782573,
   'n_estimators': 11},
  {'max_depth': 24,
   'min_samples_split': 0.07640801361666534,
   'n_estimators': 40},
  {'max_depth': 24,
   'min_samples_split': 0.13952680611682175,
   'n_estimators': 2},
  {'max_depth': 24,
   'min_samples_split': 0.17565608551928394,
   'n_estimators': 38},
  {'max_depth': 2,
   'min_samples_split': 0.04618316847421303,
   'n_estimators': 21},
  {'max_depth': 33,
   'min_samples_split': 0.07054420634894801,
   'n_estimators': 22},
  {'max_depth': 25,
   'min_samples_split': 0.06795459889941034,
   'n_estimators': 42},
  {'max_depth': 28,
   'min_samples_split': 0.2037773482494504,
   'n_estimators': 15}],
 'rank_test_score': array([ 7,  5,  1,  4,  9,  6, 10,  2,  3,  8], dtype=int32),
 'split0_test_score': array([0.87601504, 0.87567964, 0.90871039, 0.89966439, 0.74978713,
        0.86919213, 0.5513722 , 0.90024196, 0.90126845, 0.87381215]),
 'split1_test_score': array([0.8686668 , 0.87767603, 0.91028417, 0.89102525, 0.87315735,
        0.86645047, 0.62697981, 0.89454113, 0.89604238, 0.87228389]),
 'split2_test_score': array([0.86036096, 0.88074761, 0.90781087, 0.89318903, 0.83202423,
        0.88527674, 0.67119632, 0.90151423, 0.89805258, 0.86432844]),
 'split3_test_score': array([0.86739277, 0.87348002, 0.91125071, 0.89736132, 0.88183274,
        0.85467966, 0.57279524, 0.90081538, 0.89369962, 0.85534178]),
 'split4_test_score': array([0.85282674, 0.88197911, 0.9086761 , 0.89792058, 0.8911538 ,
        0.86040938, 0.57854208, 0.89565418, 0.9028987 , 0.81064397]),
 'std_fit_time': array([ 3.01188835,  6.38847169,  2.13185771,  6.32381694,  0.78199475,
         4.51327125,  0.31385335,  6.25712081, 11.22703287, 10.59612827]),
 'std_score_time': array([0.00974575, 0.01827607, 0.00906916, 0.02092616, 0.0014685 ,
        0.03673468, 0.01361092, 0.00773035, 0.01586123, 0.01719458]),
 'std_test_score': array([0.00787651, 0.00313891, 0.00124237, 0.00320869, 0.05198418,
        0.01033606, 0.04327095, 0.00287187, 0.00335376, 0.02326726])}

In [0]:
random_search.best_estimator_

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=19, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=0.029895008247782573,
                    min_weight_fraction_leaf=0.0, n_estimators=11, n_jobs=None,
                    oob_score=False, random_state=None, verbose=0,
                    warm_start=False)

In [0]:
random_search.best_score_

0.909346448145319

In [0]:
random_search.scorer_

In [0]:
extra_trees3 = ExtraTreesRegressor(n_jobs=-1, verbose=1, n_estimators=10)
extra_trees3 = extra_trees.fit(train_set_x_prepared, train_set_y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:  1.4min finished

In [0]:
extra_trees3.score(test_set_x_prepared,test_set_y)

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    0.3s finished

0.9678790055348738

In [0]:
extra_trees3

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=10, n_jobs=-1, oob_score=False,
                    random_state=None, verbose=1, warm_start=False)

In [0]:
parameter_grid = {

  'n_estimators': sp_randint(9,30),
  'max_depth':  sp_randint(9,45),
  'min_samples_split': uniform(0.02,0.08)

}

from sklearn.ensemble import ExtraTreesRegressor

extra_trees_search2 = ExtraTreesRegressor()

random_search2 = RandomizedSearchCV(extra_trees_search2, parameter_grid, cv=5, n_jobs=-1, random_state=42, n_iter=40)

In [0]:
random_search2.fit(train_set_x_prepared,train_set_y)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0,
                                                 criterion='mse',
                                                 max_depth=None,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 max_samples=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100, n_jobs=None,
                                                 oob_score=False...
                   param_distributions={'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f09678508d0>,
                                        'min_samples_split': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0967850a58>,
                                        'n_estimators': <scipy.stats._distn_infrastructure.rv_frozen object at 0x7f0967850780>},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [0]:
random_search2.cv_results_

{'mean_fit_time': array([ 84.32273269, 148.47925954, 153.79277172,  55.99990792,
        110.24842634, 161.64903345, 101.58182349,  86.62750764,
         94.58214812,  62.96685677, 118.17540379,  95.687854  ,
         53.96593237,  74.13843327, 127.88408675,  74.76687455,
         63.06085238, 121.82361832,  81.41356611, 109.53628197,
         87.55894737, 138.53733177, 104.67712998,  39.94230399,
         37.11128922,  97.85231433,  49.55776749,  83.43548694,
         72.72540288, 129.27159901,  64.36589737,  56.9669538 ,
        113.62269115,  56.3964992 , 107.79695959, 108.51998024,
        120.34500971, 155.27775283,  61.24376035,  93.25170255]),
 'mean_score_time': array([0.16715827, 0.27495127, 0.30496855, 0.12990866, 0.21879888,
        0.29295297, 0.19992509, 0.18271151, 0.1874197 , 0.13152809,
        0.23628788, 0.19441452, 0.12681284, 0.16223497, 0.24922543,
        0.16417675, 0.14648447, 0.25047307, 0.17102652, 0.22177305,
        0.18186059, 0.260218  , 0.20654087, 0.09488735, 0.09155235,
        0.21454659, 0.11312528, 0.17294822, 0.15126514, 0.24067822,
        0.13436427, 0.12285309, 0.21889138, 0.12377958, 0.22690768,
        0.22311049, 0.24255123, 0.2771297 , 0.13265309, 0.18811755]),
 'mean_test_score': array([0.91262965, 0.91249753, 0.91587043, 0.90994606, 0.91526578,
        0.91164138, 0.90932381, 0.90910773, 0.89573394, 0.89037453,
        0.90564606, 0.89737161, 0.91550876, 0.90974174, 0.9163825 ,
        0.90821112, 0.90756747, 0.91215995, 0.90605145, 0.90347153,
        0.91435028, 0.90773729, 0.90769384, 0.89322736, 0.89534149,
        0.91760167, 0.89946259, 0.9013619 , 0.89558739, 0.90930718,
        0.89953602, 0.90228905, 0.90737407, 0.89612606, 0.91080328,
        0.90420942, 0.91653648, 0.90451606, 0.89594793, 0.90350082]),
 'param_max_depth': masked_array(data=[37, 29, 31, 44, 30, 38, 41, 33, 36, 11, 29, 12, 17, 28,
                    16, 25, 12, 12, 34, 44, 23, 29, 32, 37, 33, 16, 25, 41,
                    36, 20, 31, 43, 9, 22, 34, 35, 34, 40, 40, 31],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[0.0346747831892931, 0.03248149123539492,
                    0.024646688973455958, 0.031429345433755265,
                    0.024512926322168022, 0.03698712885426209,
                    0.04433937943676302, 0.04329833121584335,
                    0.09790044150731674, 0.08879523253890564,
                    0.056039940157563445, 0.09537614045478823,
                    0.021277300177617135, 0.039282037282080934,
                    0.02275108168921747, 0.04070239852800135,
                    0.04493688608715288, 0.034788356442042166,
                    0.05598033066958126, 0.06783199830488681,
                    0.027079400164153562, 0.05109418317515856,
                    0.04854026613548715, 0.08417575846032317,
                    0.09895095492804139, 0.02044176936988819,
                    0.076907356219892, 0.06847679798248091,
                    0.08904827407004749, 0.046471841988211936,
                    0.07350730021308859, 0.06730382301661818,
                    0.05063414998030319, 0.08791310594128672,
                    0.03887879357991646, 0.06181862635055953,
                    0.022033530139527614, 0.07091283290110244,
                    0.07564128691409021, 0.06835339034222539],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[16, 27, 29, 11, 20, 29, 20, 18, 23, 15, 26, 22, 10, 15,
                    22, 16, 14, 26, 18, 24, 16, 26, 21, 9, 9, 19, 11, 18,
                    16, 24, 13, 11, 23, 13, 22, 23, 21, 28, 13, 23],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 37,
   'min_samples_split': 0.0346747831892931,
   'n_estimators': 16},
  {'max_depth': 29,
   'min_samples_split': 0.03248149123539492,
   'n_estimators': 27},
  {'max_depth': 31,
   'min_samples_split': 0.024646688973455958,
   'n_estimators': 29},
  {'max_depth': 44,
   'min_samples_split': 0.031429345433755265,
   'n_estimators': 11},
  {'max_depth': 30,
   'min_samples_split': 0.024512926322168022,
   'n_estimators': 20},
  {'max_depth': 38,
   'min_samples_split': 0.03698712885426209,
   'n_estimators': 29},
  {'max_depth': 41,
   'min_samples_split': 0.04433937943676302,
   'n_estimators': 20},
  {'max_depth': 33,
   'min_samples_split': 0.04329833121584335,
   'n_estimators': 18},
  {'max_depth': 36,
   'min_samples_split': 0.09790044150731674,
   'n_estimators': 23},
  {'max_depth': 11,
   'min_samples_split': 0.08879523253890564,
   'n_estimators': 15},
  {'max_depth': 29,
   'min_samples_split': 0.056039940157563445,
   'n_estimators': 26},
  {'max_depth': 12,
   'min_samples_split': 0.09537614045478823,
   'n_estimators': 22},
  {'max_depth': 17,
   'min_samples_split': 0.021277300177617135,
   'n_estimators': 10},
  {'max_depth': 28,
   'min_samples_split': 0.039282037282080934,
   'n_estimators': 15},
  {'max_depth': 16,
   'min_samples_split': 0.02275108168921747,
   'n_estimators': 22},
  {'max_depth': 25,
   'min_samples_split': 0.04070239852800135,
   'n_estimators': 16},
  {'max_depth': 12,
   'min_samples_split': 0.04493688608715288,
   'n_estimators': 14},
  {'max_depth': 12,
   'min_samples_split': 0.034788356442042166,
   'n_estimators': 26},
  {'max_depth': 34,
   'min_samples_split': 0.05598033066958126,
   'n_estimators': 18},
  {'max_depth': 44,
   'min_samples_split': 0.06783199830488681,
   'n_estimators': 24},
  {'max_depth': 23,
   'min_samples_split': 0.027079400164153562,
   'n_estimators': 16},
  {'max_depth': 29,
   'min_samples_split': 0.05109418317515856,
   'n_estimators': 26},
  {'max_depth': 32,
   'min_samples_split': 0.04854026613548715,
   'n_estimators': 21},
  {'max_depth': 37,
   'min_samples_split': 0.08417575846032317,
   'n_estimators': 9},
  {'max_depth': 33,
   'min_samples_split': 0.09895095492804139,
   'n_estimators': 9},
  {'max_depth': 16,
   'min_samples_split': 0.02044176936988819,
   'n_estimators': 19},
  {'max_depth': 25,
   'min_samples_split': 0.076907356219892,
   'n_estimators': 11},
  {'max_depth': 41,
   'min_samples_split': 0.06847679798248091,
   'n_estimators': 18},
  {'max_depth': 36,
   'min_samples_split': 0.08904827407004749,
   'n_estimators': 16},
  {'max_depth': 20,
   'min_samples_split': 0.046471841988211936,
   'n_estimators': 24},
  {'max_depth': 31,
   'min_samples_split': 0.07350730021308859,
   'n_estimators': 13},
  {'max_depth': 43,
   'min_samples_split': 0.06730382301661818,
   'n_estimators': 11},
  {'max_depth': 9,
   'min_samples_split': 0.05063414998030319,
   'n_estimators': 23},
  {'max_depth': 22,
   'min_samples_split': 0.08791310594128672,
   'n_estimators': 13},
  {'max_depth': 34,
   'min_samples_split': 0.03887879357991646,
   'n_estimators': 22},
  {'max_depth': 35,
   'min_samples_split': 0.06181862635055953,
   'n_estimators': 23},
  {'max_depth': 34,
   'min_samples_split': 0.022033530139527614,
   'n_estimators': 21},
  {'max_depth': 40,
   'min_samples_split': 0.07091283290110244,
   'n_estimators': 28},
  {'max_depth': 40,
   'min_samples_split': 0.07564128691409021,
   'n_estimators': 13},
  {'max_depth': 31,
   'min_samples_split': 0.06835339034222539,
   'n_estimators': 23}],
 'rank_test_score': array([ 8,  9,  4, 13,  6, 11, 15, 17, 36, 40, 24, 33,  5, 14,  3, 18, 21,
        10, 23, 28,  7, 19, 20, 39, 38,  1, 32, 30, 37, 16, 31, 29, 22, 34,
        12, 26,  2, 25, 35, 27], dtype=int32),
 'split0_test_score': array([0.91368993, 0.91311657, 0.91699684, 0.91062359, 0.91647844,
        0.91060619, 0.91129302, 0.91104156, 0.89705445, 0.89336478,
        0.90325861, 0.89093441, 0.91688584, 0.91115672, 0.91837418,
        0.90567669, 0.91075712, 0.9120833 , 0.9058116 , 0.90390958,
        0.9153576 , 0.90985165, 0.90687722, 0.9013304 , 0.8937207 ,
        0.91771466, 0.89815523, 0.90434172, 0.89107968, 0.91201885,
        0.89315348, 0.90426999, 0.90303618, 0.89794472, 0.9105964 ,
        0.90144616, 0.91663583, 0.9030837 , 0.90037927, 0.9052709 ]),
 'split1_test_score': array([0.91133941, 0.91272807, 0.91693763, 0.90765451, 0.91524071,
        0.91210514, 0.90860457, 0.90917246, 0.90064954, 0.90272049,
        0.9029152 , 0.89790359, 0.91635928, 0.90930968, 0.91806261,
        0.90917193, 0.90768478, 0.91492632, 0.90757476, 0.90237735,
        0.91468444, 0.90917696, 0.90992688, 0.89579682, 0.88746829,
        0.9172777 , 0.90063694, 0.90174057, 0.89966311, 0.9082193 ,
        0.89781028, 0.90410935, 0.90860482, 0.90146379, 0.91216079,
        0.90669524, 0.91716955, 0.90404586, 0.89113614, 0.9044507 ]),
 'split2_test_score': array([0.91252195, 0.91162602, 0.9151374 , 0.90880295, 0.91428447,
        0.91178755, 0.90874656, 0.90638841, 0.89284163, 0.88198493,
        0.90771272, 0.89977969, 0.91539999, 0.90944063, 0.91409626,
        0.90801638, 0.90437219, 0.91060006, 0.90572026, 0.90082735,
        0.91224644, 0.90655768, 0.90858371, 0.88000225, 0.89159502,
        0.91661151, 0.90049435, 0.90425606, 0.88666148, 0.90722493,
        0.89783697, 0.90136112, 0.90711931, 0.89833305, 0.91083725,
        0.9042668 , 0.91487515, 0.90577462, 0.89734768, 0.90682361]),
 'split3_test_score': array([0.91375163, 0.91371335, 0.91415407, 0.91048891, 0.91445478,
        0.91296402, 0.90912885, 0.90749799, 0.89907241, 0.88881782,
        0.9103247 , 0.8980537 , 0.91452809, 0.9093267 , 0.91692618,
        0.90815879, 0.90931435, 0.91226328, 0.90640751, 0.90581173,
        0.91338418, 0.90870815, 0.90775513, 0.88704807, 0.90394376,
        0.91893352, 0.89240411, 0.90034422, 0.90053585, 0.90994665,
        0.90472676, 0.90366108, 0.9104701 , 0.89829774, 0.91096101,
        0.90740692, 0.91786766, 0.90675341, 0.88798881, 0.90047197]),
 'split4_test_score': array([0.91184531, 0.91130365, 0.91612623, 0.91216034, 0.91587051,
        0.91074401, 0.90884606, 0.91143821, 0.88905167, 0.88498465,
        0.90401907, 0.90018663, 0.9143706 , 0.90947499, 0.91445325,
        0.9100318 , 0.90570891, 0.9109268 , 0.90474312, 0.90443163,
        0.91607876, 0.904392  , 0.90532627, 0.90195924, 0.89997968,
        0.91747097, 0.90562231, 0.89612694, 0.89999682, 0.90912619,
        0.90415262, 0.89804371, 0.90763994, 0.88459098, 0.90946095,
        0.90123198, 0.91613421, 0.90292269, 0.90288777, 0.90048693]),
 'std_fit_time': array([ 1.59797157,  7.64327326,  1.85923315,  1.3090791 ,  5.57627411,
         0.97801032,  2.2510307 ,  4.88896466,  2.27394429,  1.73516584,
         2.40194669,  4.65060576,  2.73427089,  2.32083806,  5.58888537,
         4.4208965 ,  1.71615956,  2.63722845,  0.89815759,  2.66173725,
         2.83491347,  2.91913067,  5.58917643,  2.12784069,  1.08062422,
         1.26712136,  1.6284128 ,  1.18056836,  1.53974743,  2.97625586,
         2.16205676,  1.73718035,  4.52205326,  1.04046999,  0.64250544,
         1.26574853,  7.4292209 ,  2.7755302 ,  3.13272899, 18.2212042 ]),
 'std_score_time': array([0.00791032, 0.00386379, 0.00252348, 0.00236499, 0.00267562,
        0.00387042, 0.00554932, 0.00682246, 0.00415335, 0.00372429,
        0.00217314, 0.00435391, 0.00257449, 0.00119907, 0.00779487,
        0.00272176, 0.00320714, 0.00333987, 0.00222992, 0.00858306,
        0.0020113 , 0.00791112, 0.00788365, 0.00192503, 0.00097449,
        0.00234892, 0.00197947, 0.00217361, 0.00170574, 0.00341183,
        0.00230604, 0.00324428, 0.00542863, 0.0021916 , 0.00650888,
        0.0141858 , 0.01059532, 0.00932076, 0.00296326, 0.03057535]),
 'std_test_score': array([0.00096691, 0.00090548, 0.00109146, 0.00156299, 0.00083157,
        0.00087894, 0.00099946, 0.0019576 , 0.0042443 , 0.00725567,
        0.00289708, 0.00334392, 0.00098881, 0.00071034, 0.00179076,
        0.00146301, 0.00231962, 0.00152468, 0.00093018, 0.00171925,
        0.00137648, 0.0020034 , 0.0015527 , 0.00850405, 0.0059019 ,
        0.00076014, 0.00428759, 0.00302785, 0.00566627, 0.00163181,
        0.00435565, 0.0023666 , 0.00245165, 0.00590667, 0.0008618 ,
        0.00256544, 0.0010104 , 0.00151005, 0.00559032, 0.00258201])}

In [0]:
random_search2.best_score_

NameError: ignored

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
parameter_grid = {

  'n_estimators': [5, 10, 15] ,
  'max_depth': [20, 100, 1000],
  'min_samples_split': [0.0001, 0.02, 0.029]

}

from sklearn.ensemble import ExtraTreesRegressor

extra_trees_search3 = ExtraTreesRegressor()

random_search3 = GridSearchCV(extra_trees_search3, parameter_grid, cv=5, n_jobs=-1)

In [0]:
random_search3.fit(train_set_x_prepared,train_set_y)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:739: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(cv=5, error_score=nan,
             estimator=ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0,
                                           criterion='mse', max_depth=None,
                                           max_features='auto',
                                           max_leaf_nodes=None,
                                           max_samples=None,
                                           min_impurity_decrease=0.0,
                                           min_impurity_split=None,
                                           min_samples_leaf=1,
                                           min_samples_split=2,
                                           min_weight_fraction_leaf=0.0,
                                           n_estimators=100, n_jobs=None,
                                           oob_score=False, random_state=None,
                                           verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'max_depth': [20, 100, 1000],
                         'min_samples_split': [0.0001, 0.02, 0.029],
                         'n_estimators': [5, 10, 15]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [0]:
random_search3.cv_results_

{'mean_fit_time': array([ 34.28231077,  68.9629395 , 104.5328629 ,  28.32093906,
         52.2639636 ,  83.54023104,  26.6851954 ,  54.81241307,
         81.95760574,  37.08497033,  73.80888829, 108.7681221 ,
         25.44611597,  53.38589854,  77.25632534,  26.40457644,
         52.15934062,  78.49350448,  36.93231158,  74.08780155,
        108.9596416 ,  26.66802902,  56.20716553,  82.1959415 ,
         27.21377711,  52.96828947,  75.16814995]),
 'mean_score_time': array([0.1204958 , 0.22945061, 0.32889905, 0.07954755, 0.12660527,
        0.18292122, 0.07507524, 0.12489147, 0.17010279, 0.17162318,
        0.30061865, 0.4392848 , 0.08324237, 0.13203239, 0.18280563,
        0.07824707, 0.12936006, 0.175806  , 0.17596555, 0.30059633,
        0.4516017 , 0.07989416, 0.13577571, 0.18510046, 0.07961636,
        0.12783799, 0.15952253]),
 'mean_test_score': array([0.95816917, 0.95927646, 0.9602826 , 0.9152354 , 0.91591678,
        0.9184584 , 0.90999768, 0.91278388, 0.91289688, 0.96508428,
        0.96721779, 0.96758213, 0.91622178, 0.9178164 , 0.9180914 ,
        0.91073804, 0.91143229, 0.91254901, 0.9650159 , 0.96722659,
        0.9677848 , 0.91514984, 0.91713957, 0.91702129, 0.91120455,
        0.91253417, 0.91250285]),
 'param_max_depth': masked_array(data=[20, 20, 20, 20, 20, 20, 20, 20, 20, 100, 100, 100, 100,
                    100, 100, 100, 100, 100, 1000, 1000, 1000, 1000, 1000,
                    1000, 1000, 1000, 1000],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False],
        fill_value='?',
             dtype=object),
 'param_min_samples_split': masked_array(data=[0.0001, 0.0001, 0.0001, 0.02, 0.02, 0.02, 0.029, 0.029,
                    0.029, 0.0001, 0.0001, 0.0001, 0.02, 0.02, 0.02, 0.029,
                    0.029, 0.029, 0.0001, 0.0001, 0.0001, 0.02, 0.02, 0.02,
                    0.029, 0.029, 0.029],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[5, 10, 15, 5, 10, 15, 5, 10, 15, 5, 10, 15, 5, 10, 15,
                    5, 10, 15, 5, 10, 15, 5, 10, 15, 5, 10, 15],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_depth': 20, 'min_samples_split': 0.0001, 'n_estimators': 5},
  {'max_depth': 20, 'min_samples_split': 0.0001, 'n_estimators': 10},
  {'max_depth': 20, 'min_samples_split': 0.0001, 'n_estimators': 15},
  {'max_depth': 20, 'min_samples_split': 0.02, 'n_estimators': 5},
  {'max_depth': 20, 'min_samples_split': 0.02, 'n_estimators': 10},
  {'max_depth': 20, 'min_samples_split': 0.02, 'n_estimators': 15},
  {'max_depth': 20, 'min_samples_split': 0.029, 'n_estimators': 5},
  {'max_depth': 20, 'min_samples_split': 0.029, 'n_estimators': 10},
  {'max_depth': 20, 'min_samples_split': 0.029, 'n_estimators': 15},
  {'max_depth': 100, 'min_samples_split': 0.0001, 'n_estimators': 5},
  {'max_depth': 100, 'min_samples_split': 0.0001, 'n_estimators': 10},
  {'max_depth': 100, 'min_samples_split': 0.0001, 'n_estimators': 15},
  {'max_depth': 100, 'min_samples_split': 0.02, 'n_estimators': 5},
  {'max_depth': 100, 'min_samples_split': 0.02, 'n_estimators': 10},
  {'max_depth': 100, 'min_samples_split': 0.02, 'n_estimators': 15},
  {'max_depth': 100, 'min_samples_split': 0.029, 'n_estimators': 5},
  {'max_depth': 100, 'min_samples_split': 0.029, 'n_estimators': 10},
  {'max_depth': 100, 'min_samples_split': 0.029, 'n_estimators': 15},
  {'max_depth': 1000, 'min_samples_split': 0.0001, 'n_estimators': 5},
  {'max_depth': 1000, 'min_samples_split': 0.0001, 'n_estimators': 10},
  {'max_depth': 1000, 'min_samples_split': 0.0001, 'n_estimators': 15},
  {'max_depth': 1000, 'min_samples_split': 0.02, 'n_estimators': 5},
  {'max_depth': 1000, 'min_samples_split': 0.02, 'n_estimators': 10},
  {'max_depth': 1000, 'min_samples_split': 0.02, 'n_estimators': 15},
  {'max_depth': 1000, 'min_samples_split': 0.029, 'n_estimators': 5},
  {'max_depth': 1000, 'min_samples_split': 0.029, 'n_estimators': 10},
  {'max_depth': 1000, 'min_samples_split': 0.029, 'n_estimators': 15}],
 'rank_test_score': array([ 9,  8,  7, 17, 16, 10, 27, 20, 19,  5,  4,  2, 15, 12, 11, 26, 24,
        21,  6,  3,  1, 18, 13, 14, 25, 22, 23], dtype=int32),
 'split0_test_score': array([0.9586944 , 0.95976252, 0.96089958, 0.91562694, 0.91679529,
        0.9202803 , 0.90329537, 0.91220002, 0.91181147, 0.966562  ,
        0.96840059, 0.96890504, 0.91857125, 0.91860645, 0.91924674,
        0.91180376, 0.90983356, 0.91334396, 0.96592639, 0.96826048,
        0.96868443, 0.91476779, 0.91776033, 0.91751862, 0.91562208,
        0.91277265, 0.91276369]),
 'split1_test_score': array([0.9582712 , 0.96078693, 0.96142381, 0.91242315, 0.91391786,
        0.91630497, 0.91055739, 0.9116902 , 0.91085005, 0.96506843,
        0.96779402, 0.96751982, 0.9156896 , 0.91634554, 0.91584618,
        0.90833407, 0.90909793, 0.90923072, 0.96515244, 0.96746277,
        0.96859695, 0.91500614, 0.91607626, 0.91475168, 0.89963462,
        0.90817671, 0.90668922]),
 'split2_test_score': array([0.95697577, 0.95818277, 0.95967868, 0.91741551, 0.91520372,
        0.9188546 , 0.91263485, 0.91351365, 0.91429649, 0.96441089,
        0.96632333, 0.96680551, 0.91523106, 0.91858718, 0.91829677,
        0.90937526, 0.91168605, 0.91202387, 0.96426956, 0.96625446,
        0.96719279, 0.91553012, 0.91809025, 0.91818762, 0.909393  ,
        0.91199154, 0.91333783]),
 'split3_test_score': array([0.95824487, 0.95866145, 0.96040272, 0.91414066, 0.91633956,
        0.91833408, 0.90993006, 0.9133027 , 0.9142965 , 0.96514178,
        0.96727749, 0.96818994, 0.91528111, 0.91735942, 0.91904957,
        0.90972937, 0.91410442, 0.91081242, 0.96503404, 0.96784142,
        0.96770718, 0.91505562, 0.91744918, 0.91629162, 0.91599591,
        0.91560647, 0.9145512 ]),
 'split4_test_score': array([0.95865961, 0.95898864, 0.9590082 , 0.91657072, 0.91732746,
        0.91851802, 0.91357075, 0.91321283, 0.91322988, 0.96423832,
        0.96629354, 0.96649031, 0.91633585, 0.91818339, 0.91801777,
        0.91444775, 0.91243948, 0.9173341 , 0.96469706, 0.9663138 ,
        0.96674261, 0.91538952, 0.91632184, 0.91835691, 0.91537716,
        0.91412347, 0.9151723 ]),
 'std_fit_time': array([0.39979135, 2.10478913, 1.62483178, 1.03742608, 1.19820879,
        1.25449674, 0.40034986, 1.9699382 , 3.75764894, 1.22356519,
        2.20807536, 1.93372504, 0.82818211, 1.35714776, 1.73442662,
        0.63969375, 1.80693047, 3.17850747, 0.53260807, 1.50115355,
        4.00402046, 1.13728483, 2.54809338, 0.72650266, 0.77195053,
        0.79200687, 8.40519785]),
 'std_score_time': array([0.01094466, 0.01356064, 0.00813183, 0.00130513, 0.00148554,
        0.00217323, 0.00070437, 0.00270805, 0.0047438 , 0.01198407,
        0.00812554, 0.01678852, 0.00313753, 0.00107717, 0.00222873,
        0.00110749, 0.00417595, 0.00289477, 0.01028767, 0.02212864,
        0.01872227, 0.00098378, 0.00455988, 0.00205384, 0.00334585,
        0.00279185, 0.02633161]),
 'std_test_score': array([0.00062558, 0.00091378, 0.00085864, 0.00177744, 0.00122022,
        0.00127535, 0.00360445, 0.00071032, 0.00137086, 0.00081931,
        0.00082327, 0.00088528, 0.00123956, 0.00086316, 0.00121174,
        0.00217032, 0.00180135, 0.00275069, 0.00054894, 0.00081006,
        0.0007631 , 0.00027479, 0.00079803, 0.00134723, 0.00627738,
        0.00250214, 0.00302936])}

In [0]:
random_search3.best_score_

0.9677847951160079

In [0]:
random_search3.best_estimator_

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=1000, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=0.0001, min_weight_fraction_leaf=0.0,
                    n_estimators=15, n_jobs=None, oob_score=False,
                    random_state=None, verbose=0, warm_start=False)

### Extreme Boosting ###