<a href="https://colab.research.google.com/github/KenzaxTazi/Agri-Risk/blob/master/Model_exploration_Raghul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
!pip install tqdm==4.42.1

Requirement already satisfied: tqdm==4.42.1 in /usr/local/lib/python3.6/dist-packages (4.42.1)

In [46]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import xarray as xr
import numpy as np

In [0]:
import os, sys

path = '/content/drive/My Drive/Team Plants/data'
os.chdir(path)

# Import full dataset #

Here, we import the below dataset

In [0]:
dataset = pd.read_csv("head_of_soils_recommendations_MGM.csv")

In [8]:
dataset

        Unnamed: 0  Unnamed: 0.1  ...  soil_types  climate_zones
0                0             0  ...          40              9
1                1             3  ...          40              9
2                2             8  ...          40              6
3                3             9  ...          40              6
4                4            10  ...          40              9
...            ...           ...  ...         ...            ...
427053      427053        832697  ...          76           -997
427054      427054        832720  ...          76           -997
427055      427055        832721  ...          76           -997
427056      427056        832722  ...          76           -997
427057      427057        832723  ...          76           -997

[427058 rows x 176 columns]

In [0]:
data = dataset.copy()

## Data processing ##

We now use Ed's script to process the data somewhat. Here we exclude the 10 day features.

In [50]:
# Create a custom data set adding in the features you want. It reads an already computed 
# dataset but you can then remove features to see the effect on score.
from sklearn.model_selection import train_test_split
import pandas as pd
from tqdm import tqdm
tqdm.pandas()
import xarray as xr
import matplotlib.pyplot as plt
import numpy as np
import random

random_seed = 42
#random.seed(a=random_seed)
#np.random_seed(random_seed)

read_file_path = f"head_of_soils_recommendations_MGM.csv"

# Only read a sample fraction of the data, speeds things up, but you'll get worse performance.
# Use 1.0 as the sample fraction to get the full data set
sample_fraction = 0.9
data = pd.read_csv(read_file_path, skiprows=lambda i: i>0 and random.random() > sample_fraction)

limit_change_in_yield = True
limit = 0.5

include_coordinates = True
include_2005_maize = True
include_seasonal = True
include_ten_day = False
include_2005_climate = True
include_soil_type = True
include_growing_zones = True
include_climate_zones = True

# Remove datapoints where yield changes by more than 50%. This is unlikely to be
# due to changes in climate change.

if limit_change_in_yield:
    data = data[abs(data['maize_a_2010'] - data['maize_a_2005']) / data['maize_a_2005'] < limit]

# Choose a subset of your features! (must already exist in original file)
ten_day_features = [
    'BEDD',
    'R20mm',
    'DTR'
]

seasonal_features = [
    'CDD',
    'CFD',
    'CWD',
    'WW',
    'WSDI',
    'CSDI'
]

features = []

if include_growing_zones:
    growing_zones = [
        'Inland water bodies',
        'Subtropics - summer rainfall',
        'Subtropics - winter rainfall',
        'Temperature - continental',
        'Temperature - oceanic',
        'Temperature - subcontinental',
        'Tropics'
    ]
    
    
if include_soil_type:
    features = features + ['soil_types']

        
if include_climate_zones:
    features = features + ['climate_zones']

if include_2005_climate:
    years = ['2010', '2005']
else:
    years = ['2010']

if include_seasonal:
    seasons = ['Q1', 'Q2', 'Q3', 'Q4']
    years = ['2010', '2005']
    for feature in seasonal_features:
        for season in seasons:
            for year in years:
                features.append(f'{feature}-{season}-{year}')

if include_ten_day:
    days = ['05', '15', '25']
    years = ['2010', '2005']
    months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
    for feature in ten_day_features:
        for day in days:
            for month in months:
                for year in years:
                    features.append(f'{feature}-{month}-{day}-{year}')

if include_coordinates:
    coordinates = [
        'x',
        'y'
    ]
    features = features + coordinates
    
if include_2005_maize:
    features = features + ['maize_a_2005']

target = 'maize_a_2010'
data = data.dropna()

X = data[features]
X.drop('x', axis=1, inplace=True) #drop x but keep y so we can tell something about the hemispheres and seasons


y = data[[target]]
train_set_x, test_set_x, train_set_y, test_set_y = train_test_split(X, y, test_size=0.2, random_state=random_seed)
del X
del y
del data

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
# drop features we don't want

#dataset = dataset.drop(['x','y','iso3_2005','Unnamed: 0', 'Unnamed: 0.1','Unnamed: 0.1.1', 'Unnamed: 0.1.1.1', 'Unnamed: 0.1.1.1.1', 'delta_maiz', 'maiz_percent_change'], axis=1)

In [0]:
train_set_x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243624 entries, 56647 to 152031
Data columns (total 52 columns):
soil_types       243624 non-null int64
climate_zones    243624 non-null int64
CDD-Q1-2010      243624 non-null float64
CDD-Q1-2005      243624 non-null float64
CDD-Q2-2010      243624 non-null float64
CDD-Q2-2005      243624 non-null float64
CDD-Q3-2010      243624 non-null float64
CDD-Q3-2005      243624 non-null float64
CDD-Q4-2010      243624 non-null float64
CDD-Q4-2005      243624 non-null float64
CFD-Q1-2010      243624 non-null float64
CFD-Q1-2005      243624 non-null float64
CFD-Q2-2010      243624 non-null float64
CFD-Q2-2005      243624 non-null float64
CFD-Q3-2010      243624 non-null float64
CFD-Q3-2005      243624 non-null float64
CFD-Q4-2010      243624 non-null float64
CFD-Q4-2005      243624 non-null float64
CWD-Q1-2010      243624 non-null float64
CWD-Q1-2005      243624 non-null float64
CWD-Q2-2010      243624 non-null float64
CWD-Q2-2005      243624 non-null float64
CWD-Q3-2010      243624 non-null float64
CWD-Q3-2005      243624 non-null float64
CWD-Q4-2010      243624 non-null float64
CWD-Q4-2005      243624 non-null float64
WW-Q1-2010       243624 non-null float64
WW-Q1-2005       243624 non-null float64
WW-Q2-2010       243624 non-null float64
WW-Q2-2005       243624 non-null float64
WW-Q3-2010       243624 non-null float64
WW-Q3-2005       243624 non-null float64
WW-Q4-2010       243624 non-null float64
WW-Q4-2005       243624 non-null float64
WSDI-Q1-2010     243624 non-null float64
WSDI-Q1-2005     243624 non-null float64
WSDI-Q2-2010     243624 non-null float64
WSDI-Q2-2005     243624 non-null float64
WSDI-Q3-2010     243624 non-null float64
WSDI-Q3-2005     243624 non-null float64
WSDI-Q4-2010     243624 non-null float64
WSDI-Q4-2005     243624 non-null float64
CSDI-Q1-2010     243624 non-null float64
CSDI-Q1-2005     243624 non-null float64
CSDI-Q2-2010     243624 non-null float64
CSDI-Q2-2005     243624 non-null float64
CSDI-Q3-2010     243624 non-null float64
CSDI-Q3-2005     243624 non-null float64
CSDI-Q4-2010     243624 non-null float64
CSDI-Q4-2005     243624 non-null float64
y                243624 non-null float64
maize_a_2005     243624 non-null float64
dtypes: float64(50), int64(2)
memory usage: 98.5 MB

In [0]:
#dataset.dropna(inplace=True)

### Create train test split ###

In [0]:
#from sklearn.model_selection import train_test_split

#train_set, test_set = train_test_split(dataset, test_size=0.2, random_state=42)

#train_set_x = train_set.drop("maiz_a_2010",axis=1)
#train_set_y = train_set["maiz_a_2010"]

#test_set_x = test_set.drop("maiz_a_2010",axis=1)
#test_set_y = test_set["maiz_a_2010"]

### One-hot encode categorical features ###

In [0]:
categorical_variables = ["climate_zones",
                         "soil_types"
                       
                         ]

In [0]:
categories=[]

for i in categorical_variables:
  a = list(dataset[i].unique())
  categories.append(a)

In [0]:
df_num = train_set_x.copy()

for i in categorical_variables:
  df_num.drop(i, axis=1, inplace=True)

Below pipeline didn't work one time for the onehotencoding so it's been commented out and replaced.

In [0]:
# from sklearn.base import BaseEstimator, TransformerMixin

# class DataFrameSelector(BaseEstimator, TransformerMixin):
#   def __init__(self,attribute_names):
#     self.attribute_names = attribute_names
#   def fit(self, X, y=None):
#     return self
#   def transform(self, X):
#     return X[self.attribute_names].values

# from sklearn.pipeline import Pipeline, FeatureUnion
# from sklearn.preprocessing import OneHotEncoder

# num_attributes = list(df_num)
# cat_attribs = categorical_variables

# num_pipeline = Pipeline([
#                          ('selector', DataFrameSelector(num_attributes)),
# ])

# cat_pipeline = Pipeline([
#                          ('selector', DataFrameSelector(cat_attribs)),
#                          ('one_hot_encoder', OneHotEncoder(categories = categories)),
                         
# ])

# full_pipeline = FeatureUnion(transformer_list=[
#                   ("num_pipeline",num_pipeline),
#                   ("cat_pipeline", cat_pipeline)
# ])

In [0]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ct = ColumnTransformer([
                        ("selector", OneHotEncoder(), [0,1])], 
                        remainder = 'passthrough')

#0 and 1 refer to the categorical column names - these need to be changed so they are selected automatically and not manually as done here

In [0]:
train_set_x_prepared = ct.fit_transform(train_set_x)

In [0]:
train_set_x_prepared.shape

(243624, 154)

In [0]:
test_set_x_prepared = ct.transform(test_set_x)

In [0]:
pd.DataFrame(train_set_x_prepared)

        0    1    2    3    4    5    ...  148  149  150  151        152      153
0       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  24.208333   3941.3
1       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0 -28.458333   5159.6
2       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  44.375000  10113.1
3       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  -0.625000   2111.6
4       0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  22.125000   1788.7
...     ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...        ...      ...
243619  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  39.208333  11711.3
243620  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  6.0 -17.541667   1373.9
243621  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  19.375000   1809.0
243622  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  -7.291667   1596.8
243623  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0  0.0  38.625000   6314.4

[243624 rows x 154 columns]

### Rough feature engineering ###

1. Exclude features with low variance

In [0]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold=0.2)
train_set_x_reduced = selector.fit_transform(train_set_x_prepared)
test_set_x_reduced = selector.transform(test_set_x_prepared)

In [58]:
train_set_x_reduced.shape

(243695, 51)

In [0]:
selector.get_support() #these are the features which are kept ... need to work out which ones they are

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False,  True, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

2. Or/and train a simple extra trees model and select most important features

In [0]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import SelectFromModel

simple_model = ExtraTreesRegressor(n_jobs=-1, verbose=1, n_estimators=10)
simple_model = simple_model.fit(train_set_x_prepared, train_set_y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:  1.2min finished

In [0]:
simple_model.score(train_set_x_prepared, train_set_y) # we are able to fit to the training set at least

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    1.2s finished

0.99981701893788

In [0]:
simple_model.score(test_set_x_prepared, test_set_y)

[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    0.3s finished

0.9668285578750894

The below selects features based on feature importance but only gives 4 features when selecting based on mean, so I've not done it here.

In [0]:
# selector = SelectFromModel(simple_model, prefit=True)
# train_set_x_reduced = selector.transform(train_set_x_prepared)
# test_set_x_reduced = selector.transform(test_set_x_prepared)

# Model exploration #

## Which models can at least fit the training data? ##

### Random Forests ###

For this example we can run without doing the feature selection above.

In [42]:
from sklearn.ensemble import RandomForestRegressor

rnd_reg = RandomForestRegressor(n_estimators=20, max_leaf_nodes=30, n_jobs=-1)
rnd_reg.fit(train_set_x_prepared,train_set_y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=16,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=-1, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

Can we overfit to the training set? Does the model have enough sophisitication to overfit to the trainin set...

In [43]:
rnd_reg.score(train_set_x_prepared,train_set_y)

0.9106381929671832

It could overfit if I train with enough max leaf nodes.

### Extra trees ###

In [21]:
from sklearn.ensemble import ExtraTreesRegressor

extra_trees = ExtraTreesRegressor(n_jobs=-1, verbose=1, n_estimators=10)
extra_trees = extra_trees.fit(train_set_x_prepared, train_set_y)

extra_trees.score(train_set_x_prepared,train_set_y)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:   59.8s finished
[Parallel(n_jobs=2)]: Using backend ThreadingBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done  10 out of  10 | elapsed:    1.1s finished

0.9998116402825512

We can fit to the training set at least.

### Extreme Boosting ###

In [22]:
!pip3 install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.17.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)

In [0]:
import xgboost as xgb

In [0]:
xgbmodel = xgb.XGBRegressor(n_jobs=-1, verboxity=2, random_state=42, n_estimators=100, objective="reg:squarederror", max_depth=20,)

In [40]:
xgbmodel.fit(train_set_x_prepared,train_set_y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=20, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=-1, nthread=None, objective='reg:squarederror',
             random_state=42, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1, verboxity=2)

In [0]:
from sklearn.metrics import r2_score

In [41]:
r2_score(train_set_y, xgbmodel.predict(train_set_x_prepared))

0.9975928970862603

In [44]:
train_set_y

        maize_a_2010
140076        5778.3
233620        7638.7
321377        1568.3
125005        5132.8
157050        2242.6
...              ...
149710        2614.2
332415         618.8
164446         953.7
184376        1051.1
151963        5716.6

[243590 rows x 1 columns]

## Randomised Grid Search of parameter space ##

In [0]:
from sklearn.model_selection import RandomizedSearchCV

In [0]:
from scipy.stats import randint as sp_randint
from scipy.stats import uniform

## Extra Trees ##

In [0]:
parameter_grid = {

  'n_estimators': sp_randint(1,100),
  'max_depth':  sp_randint(1,40),
  'min_samples_split': uniform(0.01,0.199)

}

In [0]:
from sklearn.ensemble import ExtraTreesRegressor

extra_trees_search = ExtraTreesRegressor()

In [0]:
random_search = RandomizedSearchCV(extra_trees_search, parameter_grid, cv=5, n_jobs=-1, random_state=42)

In [0]:
random_search.fit(train_set_x_prepared,train_set_y)